/*Variáveis*/
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
  }
/* ####### Header e Footer ####### */
#top, #botton {
    background-color: var(--title);
    color: var(--bgSite);
    font-size: 1em;
    padding: 10px;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

/* ####### Wallpaper ####### */
#title-header {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.bgc-container {
    background: url(./img/wallpaper.jpeg) center center no-repeat;  
    background-attachment: fixed;
    background-size: cover;

    height: 60vh;
}

.bgc-container .container-text {
    backdrop-filter: brightness(50%);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bgc-container #big-text-wallpaper {
    padding: 0 0 2% 7%;
    font-size: 2em;
    color: var(--bgSite);

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;   
}
.bgc-container #min-text-wallpaper {
    padding-left: 7%;
    font-size: 1.125em;
    color: var(--bgSite);

    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
}

/* ####### Main ####### */
#title-main {
    font-size: 2em;
    text-align: center;
    padding: 50px 10px 10px 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.text {
    font-size: 1.125em;
    text-align: center;
    color: var(--text);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

/* ####### Tênis ####### */
.tenis-container {
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.tenis-container .rectangle {
    padding: 10px;
    background-color: var(--bgCard);
    margin-bottom: 15px;
}

.tenis-container .rectangle img {
    width: 250px;
    height: 150px;
}

.rectangle:hover img{
    transform: scale(1.3);
    transition: 1s all ease;
}
